In [269]:
import pandas as pd
import numpy as np
import os
from itertools import combinations
import datacompy
folder_path=r'C:\Users\hoa.nd\Desktop\WAP\compare\report_6'

In [270]:

try:
  df_cognos = pd.read_pickle('df_cognos.pkl')
  df_looker = pd.read_pickle('df_looker.pkl')
except FileNotFoundError:
    # If pickle files are not found, read Excel files
  df_cognos = pd.read_excel(r'F:\Cyber\compare\report_6\Cognos.xlsx', dtype=str)
  df_looker = pd.read_excel(r'F:\Cyber\compare\report_6\Looker.xlsx', dtype=str)
  
  # Save DataFrames to pickle files
  df_cognos.to_pickle('df_cognos.pkl')
  df_looker.to_pickle('df_looker.pkl')
print(df_cognos.columns)
print(len(df_cognos.columns))

Index(['X code Flag Y/N', 'OTS Office RHQ Code', 'Collection Region Name',
       'Collection Office Code', 'Trade Code', 'Trade Name',
       'Service Scope Code', 'Service Scope Name', 'POR Location Code',
       'POR Country Name', 'First POL Location Code', 'First POL Country Name',
       'Last POD Location Code', 'Last POD Country Name', 'DEL Location Code',
       'BL Number', 'Actual Invoice Number', 'Bound Code', 'Payment Term',
       'Reference Number', 'First POL ETD Date', 'S/A Date', 'Interface Date',
       'Invoice Due Date', 'Aging Days', 'Transaction Type', 'Charge Code',
       'Charge Name', 'Charge Currency', 'Invoice Amount (Charge Currency)',
       'Outstanding Amount (Charge Currency)', 'Invoice Currency',
       'Invoice Amount (Invoice Currency)',
       'Outstanding Amount (Invoice Currency)', 'Invoice Amount (USD)',
       'Outstanding Amount (USD)'],
      dtype='object')
36

In [271]:
# Hiển thị danh sách column và số lượng column
def get_column_lists_and_counts(df_cognos, df_looker):
  columns_df_cognos = df_cognos.columns.tolist()
  columns_df_looker = df_looker.columns.tolist()
  num_columns_df_cognos = len(columns_df_cognos)
  num_columns_df_looker = len(columns_df_looker)
  print("Columns in df_cognos:", columns_df_cognos)
  print("Number of columns in df_cognos:", num_columns_df_cognos)
  print("Columns in df_looker:", columns_df_looker)
  print("Number of columns in df_looker:", num_columns_df_looker)
  return columns_df_cognos, num_columns_df_cognos, columns_df_looker, num_columns_df_looker

# Định nghĩa hàm để xóa các cột từ DataFrame
def drop_columns(df, columns_to_drop):
  df = df.drop(columns=columns_to_drop)
  return df

# Hàm Đổi các cột có nhãn (Ví dụ: Y -> Yes, N -> No)
def replace_values(df, columns, replacement):
  for column in columns:
    df[column] = df[column].replace(replacement)
  return df

#Định nghĩa hàm xóa dấu phẩy và convert cột sang kiểu Float để so sánh các cột số
def replace_comma_and_convert_to_float(df, column_names):
  for column_name in column_names:
    if column_name in df.columns:  # Kiểm tra xem cột có tồn tại trong DataFrame không
      if df[column_name].dtype == 'object' and df[column_name].str.contains(',').any():
        df[column_name] = df[column_name].str.replace(',', '', regex=True)
      df[column_name] = df[column_name].astype(float)


# Convert sang datetime
def convert_columns_to_datetime(df, columns):
    for column in columns:
        try:
            df[column] = pd.to_datetime(df[column], errors='coerce')
        except (KeyError, ValueError):
            print(f"Column '{column}' does not exist or cannot be converted to datetime.")

# fillna cho các cột chuỗi và số
def fillna_custom(df, string_columns, numeric_columns):
    for col in string_columns:
        if col in df.columns:
            df[col] = df[col].fillna("No_Data")
    for col in numeric_columns:
        if col in df.columns:
            df[col] = df[col].fillna(0)
    return df

#Định nghĩa hàm trả về kiểu dữ liệu các column của DF
def check_and_print_column_data_types(df, name):
    data_types_df = df.dtypes
    print(f"Data types for DataFrame {name}:")
    print(data_types_df)

# KIỂM TRA CÁC COLUMN ĐÃ CHỌN CÓ TẠO RA ĐƯỢC TỔ HỢP KHÓA HAY KHÔNG
def check_columns_combination_uniqueness(df_cognos, df_looker, columns_to_check):
    def combine_columns(df):
        return df[columns_to_check].apply(lambda x: '-'.join(x.astype(str).str.upper()), axis=1)
    df_cognos_combined = combine_columns(df_cognos)
    df_looker_combined = combine_columns(df_looker)
    are_columns_combined_unique = df_cognos_combined.is_unique and df_looker_combined.is_unique
    if are_columns_combined_unique:
        result = True
    else:
        result = False
    return result

#ĐỊNH NGHĨA HÀM ĐỂ CHUYỂN SANG CHỮ IN HOA
def uppercase_columns(df, columns):
    for col in columns:
        if col in df.columns:
            df[col] = df[col].str.upper()
    return df

# ĐỊNH NGHĨA HÀM: TÌM VÀ CẮT DUOID (VD: _cognos, _looker)
def find_and_strip_columns_with_suffix(df, suffix):
    columns_with_suffix = [col for col in df.columns if col.endswith(suffix)]
    stripped_columns = [col.replace(suffix, '') for col in columns_with_suffix]
    return stripped_columns

# ĐỊNH NGHĨA HÀM: TÌM RA SỰ KHÁC BIỆT CỦA 2 DF (MISSING, DIFF) RÒI FILLNA
# Tìm sự khác biẹt
def create_diff_df(df_merged, columns):
    conditions = []
    for column in columns:
        data_cognos = df_merged[f"{column}_cognos"]
        data_looker = df_merged[f"{column}_looker"]
        if data_cognos.dtype== np.float64:
            data_cognos = data_cognos.round(2)
            data_looker = data_looker.round(2)
            condition = np.isclose(data_cognos, data_looker, atol=0.1)
        elif data_cognos.dtype== np.datetime64:
            rounded_cognos = data_cognos.dt.round('S')
            rounded_looker = data_looker.dt.round('S')
            condition = (rounded_cognos == rounded_looker)
        elif data_cognos.dtype== object:
            condition = (data_cognos.str.upper() == data_looker.str.upper())
        else:
            continue
        conditions.append(condition)
    combined_condition = np.all(conditions, axis=0)
    diff_df = df_merged[~combined_condition].copy()
    matching_df = df_merged[combined_condition].copy()
    diff_df = diff_df.applymap(lambda x: 'Not exists' if pd.isnull(x) else x)
    matching_df = matching_df.applymap(lambda x: 'Not exists' if pd.isnull(x) else x)
    return matching_df, diff_df


# LỌC RA PHẦN MISSING HAY DIFF
def filter_and_return_dataframes(df):
    df_missing_cognos = df.loc[df.filter(like='_cognos').eq('Not exists').all(axis=1)]
    df_missing_looker = df.loc[df.filter(like='_looker').eq('Not exists').all(axis=1)]
    df_remaining_diff = df.drop(df_missing_cognos.index).drop(df_missing_looker.index)
    return df_missing_cognos, df_missing_looker, df_remaining_diff.reset_index()

# TÁCH DF CỦA COGNOS VÀ LOOKER
def split_dataframe(df):
    cols_df_cognos = [col for col in df.columns if not col.endswith("_looker")]
    df_cognos_new = df[cols_df_cognos]
    cols_df_looker = [col for col in df.columns if not col.endswith("_cognos")]
    df_looker_new = df[cols_df_looker]
    return df_cognos_new, df_looker_new

# COMPARE VÀ LÊN MÀU CHO SỰ KHÁC BIẸT
def compare_and_style_data(diff_df, keys, suffix_cognos, suffix_looker):
    def highlight_cells(val):
        if val == 'Same':
            return ''
        else:
            return 'background-color: red; color: white;'
    common_prefixes = set(col.split(suffix_cognos)[0] for col in diff_df.columns[2:])
    for prefix in common_prefixes:
        cognos_cols = [col for col in diff_df.columns if col.startswith(f'{prefix}{suffix_cognos}')]
        looker_cols = [col for col in diff_df.columns if col.startswith(f'{prefix}{suffix_looker}')]
        for cognos_col, looker_col in zip(cognos_cols, looker_cols):
            column_name = f'Compare_{prefix}_(Cognos <> Looker)'
            data_type = diff_df[cognos_col].dtype
            if data_type == np.float64:
                diff_df[cognos_col] = diff_df[cognos_col].round(2)
                diff_df[looker_col] = diff_df[looker_col].round(2)
                condition = np.isclose(diff_df[cognos_col], diff_df[looker_col], atol=0.1)
            elif data_type == np.datetime64:
                rounded_cognos = diff_df[cognos_col].dt.round('S')
                rounded_looker = diff_df[looker_col].dt.round('S')
                condition = (rounded_cognos == rounded_looker)
            elif data_type == object:
                condition = (diff_df[cognos_col].str.upper() == diff_df[looker_col].str.upper())
            else:
                continue
            diff_df[column_name] = diff_df.apply(lambda row: f'({row[cognos_col]} <> {row[looker_col]})'
                                                if not condition[row.name]
                                                else 'Same', axis=1)
    selected_keys = keys + [col for col in diff_df.columns if col.startswith('Compare')]
    styled_df = diff_df[selected_keys].style.applymap(highlight_cells, subset=pd.IndexSlice[:, diff_df[selected_keys].columns.str.startswith('Compare_')])
    return styled_df


# ĐỊNH NGHĨA HÀM TÍNH TOÁN
def total_numeric_columns(df_Cognos_cal, df_Looker_cal, columns_to_compare, sales_week_col, start_week=None, end_week=None):
    df_Looker_cal['Source'] = 'Looker'
    df_Cognos_cal['Source'] = 'Cognos'
    combined_data = pd.concat([df_Cognos_cal, df_Looker_cal])
    if start_week and end_week:
        filtered_data = combined_data[(combined_data[sales_week_col] >= start_week) & (combined_data[sales_week_col] <= end_week)]
    else:
        filtered_data = combined_data
    filtered_data[columns_to_compare] = filtered_data[columns_to_compare].round(2)
    result = filtered_data.pivot_table(index=[sales_week_col], columns='Source', values=columns_to_compare, aggfunc='sum')
    for column in columns_to_compare:
        result[f'Compare_{column}_(Cognos <> Looker)'] = result.apply(lambda row: 'Same' if (np.isclose(row[column]['Cognos'], row[column]['Looker'], atol=0.1) == True) else f"{row[column]['Cognos']} <> {row[column]['Looker']}", axis=1)
    result = result.swaplevel(axis=1).sort_index(axis=1, level=[1, 0], ascending=[True, False])
    return result

# ĐỊNH NGHĨA HÀM ĐỂ ĐẶT LẠI TÊN CŨ TRƯỚC KHI XUẤT FILE
# Định nghĩa hàm clean_and_reorder_columns nếu chưa có
def clean_and_reorder_columns(df, suffix_to_remove, new_column_order, new_column_names, output_file):
    df.columns = [col.replace(suffix_to_remove, '') for col in df.columns]
    df = df[new_column_order]
    df.rename(columns=dict(zip(df.columns, new_column_names)), inplace=True)
    df.to_csv(os.path.join(folder_path, output_file), index=False)
    return df

In [272]:
print(df_looker.columns)
print(len(df_looker.columns))

Index(['OTS Office RHQ Code', 'Collection Region Name',
       'Collection Office Code', 'Trade Code', 'Trade Name',
       'Service Scope Code', 'Service Scope Name', 'POR Location Code',
       'POR Country Name', '1st POL Location Code', '1st POL Country Name',
       'Last POD Location Code', 'Last POD Country Name', 'DEL Location Code',
       'BL Number', 'Actual Invoice Number', 'Bound Code', 'Payment Term',
       'Reference Number', '1st POL ETD Time', 'S/A Time', 'Interface Time',
       'Invoice Due Time', 'Aging Days', 'Transaction Type', 'Charge Code',
       'Charge Name', 'Charge Currency', 'Invoice Currency',
       'Invoice Amount (Charge Currency)',
       'Outstanding Amount (Charge Currency)',
       'Invoice Amount (Invoice Currency)',
       'Outstanding Amount (Invoice Currency)', 'Invoice Amount (USD)',
       'Outstanding Amount (USD)'],
      dtype='object')
35

In [273]:
COGNOS_TO_LOOKER = {
  'First POL Location Code':'1st POL Location Code',
  'First POL Country Name':'1st POL Country Name',
  'First POL ETD Date':'1st POL ETD Time',
  'S/A Date':'S/A Time',
  'Interface Date':'Interface Time',
  'Invoice Due Date':'Invoice Due Time'
}
df_cognos.rename(columns=COGNOS_TO_LOOKER, inplace=True)

df_looker['Aging Days'] = df_looker['Aging Days'].str.split().str[0]

In [274]:
df_cognos = df_cognos.drop('X code Flag Y/N', axis=1)
df_cognos.columns

Index(['OTS Office RHQ Code', 'Collection Region Name',
       'Collection Office Code', 'Trade Code', 'Trade Name',
       'Service Scope Code', 'Service Scope Name', 'POR Location Code',
       'POR Country Name', '1st POL Location Code', '1st POL Country Name',
       'Last POD Location Code', 'Last POD Country Name', 'DEL Location Code',
       'BL Number', 'Actual Invoice Number', 'Bound Code', 'Payment Term',
       'Reference Number', '1st POL ETD Time', 'S/A Time', 'Interface Time',
       'Invoice Due Time', 'Aging Days', 'Transaction Type', 'Charge Code',
       'Charge Name', 'Charge Currency', 'Invoice Amount (Charge Currency)',
       'Outstanding Amount (Charge Currency)', 'Invoice Currency',
       'Invoice Amount (Invoice Currency)',
       'Outstanding Amount (Invoice Currency)', 'Invoice Amount (USD)',
       'Outstanding Amount (USD)'],
      dtype='object')

In [275]:
df_looker.columns

Index(['OTS Office RHQ Code', 'Collection Region Name',
       'Collection Office Code', 'Trade Code', 'Trade Name',
       'Service Scope Code', 'Service Scope Name', 'POR Location Code',
       'POR Country Name', '1st POL Location Code', '1st POL Country Name',
       'Last POD Location Code', 'Last POD Country Name', 'DEL Location Code',
       'BL Number', 'Actual Invoice Number', 'Bound Code', 'Payment Term',
       'Reference Number', '1st POL ETD Time', 'S/A Time', 'Interface Time',
       'Invoice Due Time', 'Aging Days', 'Transaction Type', 'Charge Code',
       'Charge Name', 'Charge Currency', 'Invoice Currency',
       'Invoice Amount (Charge Currency)',
       'Outstanding Amount (Charge Currency)',
       'Invoice Amount (Invoice Currency)',
       'Outstanding Amount (Invoice Currency)', 'Invoice Amount (USD)',
       'Outstanding Amount (USD)'],
      dtype='object')

In [276]:

for column in df_looker.columns:
  if df_looker[column].dtype == 'object':
    df_looker[column].fillna("No_data", inplace=True)
    df_cognos[column].fillna("No_data", inplace=True)
  if df_looker[column].dtype == 'datetime64[ns]':
    df_cognos[column] = df_cognos.apply(lambda row:
      pd.Timestamp(row[column]).round('S'), axis=1)
    df_looker[column] = df_looker.apply(lambda row:
      pd.Timestamp(row[column]).round('S'), axis=1)
    df_looker[column].fillna(0, inplace=True)
    df_cognos[column].fillna(0, inplace=True)
  if df_looker[column].dtype == 'float64' or df_looker[column].dtype == 'int64':
    df_looker[column].fillna(0, inplace=True)
    df_cognos[column].fillna(0, inplace=True)

In [278]:
df_cognos

,ots office rhq code,collection region name,collection office code,trade code,trade name,service scope code,service scope name,por location code,por country name,1st pol location code,...,charge code,charge name,charge currency,invoice amount (charge currency),outstanding amount (charge currency),invoice currency,invoice amount (invoice currency),outstanding amount (invoice currency),invoice amount (usd),outstanding amount (usd)
0,SAOHQ,COLOMBIA,BOGBB,LNT,LATIN AMERICA NORTH TRADE,LEA,INTRA EAST COAST SOUTH AMERICA,MXATM,MEXICO,MXATM,...,SLF,SEAL FEE,USD,-12,-12,COP,0,0,-12,-12
1,SAOHQ,COLOMBIA,BOGBB,TAT,TRANS ATLANTIC TRADE,TAW,EUROPE - NORTH AMERICA (WB),DEHAM,GERMANY,DEHAM,...,DOC,DOC FEE (ORIGIN),EUR,114,114,COP,495931,495931,122.87,122.87
2,SAOHQ,COLOMBIA,BOGBB,LWT,LATIN AMERICA WEST TRADE,LWN,WEST COAST SOUTH AMERICA - NORTH AMERICA (NB),COBUN,COLOMBIA,COBUN,...,ECA,ECA REG SURCHARGE,USD,-28,-28,COP,0,0,-28,-28
3,SAOHQ,COLOMBIA,BOGBB,IMT,INTRA NORTH AMERICA TRADE,LAN,EAST COAST SOUTH AMERICA - NORTH AMERICA (NB),COCNR,COLOMBIA,COCNR,...,ECA,ECA REG SURCHARGE,USD,30,30,COP,0,0,30,30
4,SAOHQ,COLOMBIA,BOGBB,LWT,LATIN AMERICA WEST TRADE,LWE,ALL - WEST COAST SOUTH AMERICA (EB),VNSGN,VIETNAM,VNCMP,...,THD,TERMINAL HANDLING CHARGE (D),USD,-110,-110,COP,0,0,-110,-110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17579,SAOHQ,COLOMBIA,BOGBB,No_data,No_data,OTH,OTHERS,COBOG,COLOMBIA,COBOG,...,AEP,No_data,COP,-3500000,-3500000,COP,-3500000,-3500000,-840.7,-840.7
17580,SAOHQ,COLOMBIA,BOGBB,No_data,No_data,OTH,OTHERS,COBOG,COLOMBIA,COBOG,...,AEP,No_data,COP,-3947994,-3947994,COP,-3947994,-3947994,-948.31,-948.31
17581,SAOHQ,COLOMBIA,BOGBB,No_data,No_data,OTH,OTHERS,COBOG,COLOMBIA,COBOG,...,AEP,No_data,COP,-5949594,-5949594,COP,-5949594,-5949594,-1429.09,-1429.09
17582,SAOHQ,COLOMBIA,BOGBB,No_data,No_data,OTH,OTHERS,COBOG,COLOMBIA,COBOG,...,AEP,No_data,COP,-5065668,-5065668,COP,-5065668,-5065668,-1216.77,-1216.77
17583,SAOHQ,COLOMBIA,BOGBB,No_data,No_data,OTH,OTHERS,COBOG,COLOMBIA,COBOG,...,AEP,No_data,COP,-73083,-73083,COP,-73083,-73083,-17.55,-17.55

In [279]:
df_looker

,ots office rhq code,collection region name,collection office code,trade code,trade name,service scope code,service scope name,por location code,por country name,1st pol location code,...,charge code,charge name,charge currency,invoice currency,invoice amount (charge currency),outstanding amount (charge currency),invoice amount (invoice currency),outstanding amount (invoice currency),invoice amount (usd),outstanding amount (usd)
0,SAOHQ,COLOMBIA,BOGBB,LET,LATIN AMERICA EAST TRADE,LEA,INTRA EAST COAST SOUTH AMERICA,COCNR,COLOMBIA,COCNR,...,OFT,BASIC OCEAN FREIGHT,USD,COP,-700,-700,0,0,-700,-700
1,SAOHQ,COLOMBIA,BOGBB,LET,LATIN AMERICA EAST TRADE,LEA,INTRA EAST COAST SOUTH AMERICA,COCNR,COLOMBIA,COCNR,...,OFT,BASIC OCEAN FREIGHT,USD,COP,700,700,0,0,700,700
2,SAOHQ,COLOMBIA,BOGBB,LET,LATIN AMERICA EAST TRADE,LEA,INTRA EAST COAST SOUTH AMERICA,COCNR,COLOMBIA,COCNR,...,OBS,ONE BUNKER SURCHARGE,USD,COP,-155,-155,0,0,-155,-155
3,SAOHQ,COLOMBIA,BOGBB,LET,LATIN AMERICA EAST TRADE,LEA,INTRA EAST COAST SOUTH AMERICA,COCNR,COLOMBIA,COCNR,...,OFT,BASIC OCEAN FREIGHT,USD,COP,-700,-700,0,0,-700,-700
4,SAOHQ,COLOMBIA,BOGBB,LET,LATIN AMERICA EAST TRADE,LEA,INTRA EAST COAST SOUTH AMERICA,COCNR,COLOMBIA,COCNR,...,OBS,ONE BUNKER SURCHARGE,USD,COP,155,155,0,0,155,155
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17579,SAOHQ,COLOMBIA,BOGBB,No_data,No_data,OTH,OTHERS,COBOG,COLOMBIA,COBOG,...,AEP,No_data,COP,COP,-10275000,-10275000,-10275000,-10275000,-2468.06,-2468.06
17580,SAOHQ,COLOMBIA,BOGBB,No_data,No_data,OTH,OTHERS,COBOG,COLOMBIA,COBOG,...,AEP,No_data,COP,COP,-34683176,-34683176,-34683176,-34683176,-8330.9,-8330.9
17581,SAOHQ,COLOMBIA,BOGBB,No_data,No_data,OTH,OTHERS,COBOG,COLOMBIA,COBOG,...,AEP,No_data,COP,COP,-6076071,-6076071,-6076071,-6076071,-1459.47,-1459.47
17582,SAOHQ,COLOMBIA,BOGBB,TAT,TRANS ATLANTIC TRADE,OTH,OTHERS,COBOG,COLOMBIA,COBOG,...,3CC,CNTR Cleaning,COP,COP,36233,0,36233,0,8.7,0
17583,SAOHQ,COLOMBIA,BOGBB,No_data,No_data,OTH,OTHERS,COBOG,COLOMBIA,COBOG,...,AEP,No_data,COP,COP,-2667089,-2667089,-2667089,-2667089,-640.63,-640.63

In [283]:
## datacompy
REMOVE_COLUMN = [
# 'OTS Office RHQ Code', 
# 'Collection Region Name',
# 'Collection Office Code', 
# 'Trade Code', 
# 'Trade Name',
# 'Service Scope Code', 
# 'Service Scope Name', 
# 'POR Location Code',
# 'POR Country Name', 
# '1st POL Location Code', 
# '1st POL Country Name',
# 'Last POD Location Code', 
# 'Last POD Country Name', 
# 'DEL Location Code',
# 'BL Number', 
# 'Actual Invoice Number', 
# 'Bound Code', 
# 'Payment Term',
# 'Reference Number',
# '1st POL ETD Time', 
# 'S/A Time', 
# 'Interface Time',
# 'Invoice Due Time', 
# 'Aging Days', 
# 'Transaction Type', 
# 'Charge Code',
# 'Charge Name', 
# 'Charge Currency', 
# 'Invoice Currency',
# 'Invoice Amount (Charge Currency)',
# 'Outstanding Amount (Charge Currency)',
# 'Invoice Amount (Invoice Currency)',
# 'Outstanding Amount (Invoice Currency)', 
# 'Invoice Amount (USD)',
# 'Outstanding Amount (USD)'
]

LIST_COLUMN=[
  'OTS Office RHQ Code', 'Collection Region Name',
  'Collection Office Code', 'Trade Code', 'Trade Name',
  'Service Scope Code', 'Service Scope Name', 'POR Location Code',
  'POR Country Name', '1st POL Location Code', '1st POL Country Name',
  'Last POD Location Code', 'Last POD Country Name', 'DEL Location Code',
  'BL Number', 'Actual Invoice Number', 'Bound Code', 'Payment Term',
  'Reference Number',
  '1st POL ETD Time', 
  'S/A Time', 
  'Interface Time',
  'Invoice Due Time', 'Aging Days', 'Transaction Type', 'Charge Code',
  'Charge Name', 'Charge Currency', 'Invoice Currency',
  'Invoice Amount (Charge Currency)',
  'Outstanding Amount (Charge Currency)',
  'Invoice Amount (Invoice Currency)',
  'Outstanding Amount (Invoice Currency)', 'Invoice Amount (USD)',
  'Outstanding Amount (USD)']
keys_list = [x for x in list(LIST_COLUMN) if x not in REMOVE_COLUMN]
print(keys_list)
# compare = datacompy.Compare( df_cognos, df_looker, join_columns=keys_list, df1_name='Cognos', df2_name='Looker')
compare = datacompy.Compare( df_cognos, df_looker, on_index=True, df1_name='Cognos', df2_name='Looker')
print(compare.report())

['OTS Office RHQ Code', 'Collection Region Name', 'Collection Office Code', 'Trade Code', 'Trade Name', 'Service Scope Code', 'Service Scope Name', 'POR Location Code', 'POR Country Name', '1st POL Location Code', '1st POL Country Name', 'Last POD Location Code', 'Last POD Country Name', 'DEL Location Code', 'BL Number', 'Actual Invoice Number', 'Bound Code', 'Payment Term', 'Reference Number', '1st POL ETD Time', 'S/A Time', 'Interface Time', 'Invoice Due Time', 'Aging Days', 'Transaction Type', 'Charge Code', 'Charge Name', 'Charge Currency', 'Invoice Currency', 'Invoice Amount (Charge Currency)', 'Outstanding Amount (Charge Currency)', 'Invoice Amount (Invoice Currency)', 'Outstanding Amount (Invoice Currency)', 'Invoice Amount (USD)', 'Outstanding Amount (USD)']
DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns   Rows
0    Cognos       35  17584
1    Looker       35  17584

Column Summary
--------------

Number of columns in common: 35
Number of columns in Cognos but not in Looker: 0
Number of columns in Looker but not in Cognos: 0

Row Summary
-----------

Matched on: index
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 17,584
Number of rows in Cognos but not in Looker: 0
Number of rows in Looker but not in Cognos: 0

Number of rows with some compared columns unequal: 17,584
Number of rows with all compared columns equal: 0

Column Comparison
-----------------

Number of columns compared with some values unequal: 31
Number of columns compared with all values equal: 4
Total number of values which compare unequal: 392,980

Columns with Unequal Values or Types
------------------------------------

                                   Column    Cognos dtype    Looker dtype  # Unequal      Max Diff  # Null Diff
7                    1st pol country name          object          object      14649  0.000000e+00            0
16                       1st pol etd time          object          object      17540  0.000000e+00            0
6                   1st pol location code          object          object      16625  0.000000e+00            0
12                  actual invoice number          object          object       1007  0.000000e+00            0
20                             aging days          object          object      16935  2.230000e+02            0
11                              bl number          object          object      17550  0.000000e+00            0
13                             bound code          object          object       8172  0.000000e+00            0
21                            charge code          object          object      13926  0.000000e+00            0
23                        charge currency          object          object       1605  0.000000e+00            0
22                            charge name          object          object      13926  0.000000e+00            0
10                      del location code          object          object      13843  0.000000e+00            0
18                         interface time  datetime64[ns]  datetime64[ns]      17583  0.000000e+00            0
24       invoice amount (charge currency)          object          object      16706  1.146364e+09            0
27      invoice amount (invoice currency)          object          object       2680  1.146363e+09            0
29                   invoice amount (usd)          object          object      16707  2.761564e+05            0
26                       invoice currency          object          object        648  0.000000e+00            0
19                       invoice due time  datetime64[ns]  datetime64[ns]      16935  0.000000e+00            0
9                   last pod country name          object          object       8758  0.000000e+00            0
8                  last pod location code          object          object      13821  0.000000e+00            0
25   outstanding amount (charge currency)          object          object      16358  1.146363e+09            0
28  outstanding amount (invoice currency)          object          object       1687  1.146363e+09            0
30               outstanding amount (usd)          object          object      16359  2.753714e+05            0
14                           payment term          object          object       8172  0.000000e+00            0
5                        por country name          object          object      14504  0.000000e+00            0
4                       por location code          object          object      16726  0.000000e+00            0
15                       reference number          object          object      17583  0.000000e+00            0
17                               s/a time  datetime64[ns]  datetime64[ns]      16339  0.000000e+00            0
2                      service scope code          object          object      14895  0.000000e+00            0
3                      service scope name          object          object      14895  0.000000e+00            0
0                              trade code          object          object      12923  0.000000e+00            0
1                              trade name          object          object      12923  0.000000e+00            0

Sample Rows with Unequal Values
-------------------------------

      trade code (Cognos) trade code (Looker)
10348                 LWT                 TAT
6049                  LNT                 IMT
5408                  IMT                 LWT
16694                 TAT                 LNT
12554                 IMT                 LWT
3560                  LWT                 LNT
7647                  LWT                 IMT
16522                 IMT                 TPT
15872                 IMT                 TPT
16657                 IMT                 LET

             trade name (Cognos)        trade name (Looker)
16980  INTRA NORTH AMERICA TRADE                    No_data
15776  INTRA NORTH AMERICA TRADE   LATIN AMERICA WEST TRADE
4903   LATIN AMERICA NORTH TRADE  INTRA NORTH AMERICA TRADE
9694   INTRA NORTH AMERICA TRADE       TRANS ATLANTIC TRADE
10538   LATIN AMERICA WEST TRADE       TRANS ATLANTIC TRADE
5964                     No_data  INTRA NORTH AMERICA TRADE
16761        TRANS PACIFIC TRADE   LATIN AMERICA EAST TRADE
13513  INTRA NORTH AMERICA TRADE   LATIN AMERICA WEST TRADE
7617         TRANS PACIFIC TRADE  INTRA NORTH AMERICA TRADE
477    INTRA NORTH AMERICA TRADE   LATIN AMERICA WEST TRADE

      service scope code (Cognos) service scope code (Looker)
12760                         LAS                         LWE
2998                          LEA                         ILW
14942                         LWE                         CSE
12565                         ILW                         LWE
13596                         OTH                         LWE
16669                         LWE                         CSE
12446                         ILW                         LWE
3788                          ILW                         LAS
4393                          LEA                         ILW
13437                         AEW                         LWE

                         service scope name (Cognos)                    service scope name (Looker)
1414                     NORTH AMERICA - EUROPE (EB)  NORTH AMERICA - EAST COAST SOUTH AMERICA (SB)
8970                  INTRA EAST COAST SOUTH AMERICA  NORTH AMERICA - EAST COAST SOUTH AMERICA (SB)
4865             ALL - WEST COAST SOUTH AMERICA (EB)                 INTRA WEST COAST SOUTH AMERICA
763                   INTRA WEST COAST SOUTH AMERICA                 INTRA EAST COAST SOUTH AMERICA
1989             ALL - WEST COAST SOUTH AMERICA (EB)  EAST COAST SOUTH AMERICA - NORTH AMERICA (NB)
14857  NORTH AMERICA - EAST COAST SOUTH AMERICA (SB)            ALL - WEST COAST SOUTH AMERICA (EB)
6523                  INTRA EAST COAST SOUTH AMERICA                 INTRA WEST COAST SOUTH AMERICA
11601            ALL - WEST COAST SOUTH AMERICA (EB)  NORTH AMERICA - EAST COAST SOUTH AMERICA (SB)
6388                  INTRA WEST COAST SOUTH AMERICA                    NORTH AMERICA - EUROPE (EB)
10766                 INTRA EAST COAST SOUTH AMERICA                      ASIA - CARIBBEAN SEA (EB)

      por location code (Cognos) por location code (Looker)
2227                       KRPUS                      COBUN
692                        USMSY                      COBUN
5047                       COCNR                      COBUN
14777                      CNSHK                      TWKEL
11718                      ARBUE                      CNSHK
8383                       USATL                      PECLL
7781                       CNSHA                      COBUN
15707                      CNSHA                      TWTXG
8851                       MXLZC                      COBUN
6603                       CNXIL                      MXVER

      por country name (Cognos) por country name (Looker)
8663                      CHINA                   GERMANY
11438                    MEXICO                  COLOMBIA
8908                    ECUADOR                  COLOMBIA
12152                  COLOMBIA                     CHINA
78                      ECUADOR                  COLOMBIA
16375             UNITED STATES                     CHINA
14474                     CHINA                COSTA RICA
7479                   COLOMBIA                    MEXICO
8056                   COLOMBIA             UNITED STATES
16668             UNITED STATES                     CHINA

      1st pol location code (Cognos) 1st pol location code (Looker)
399                            MXLZC                          COBUN
4124                           CNSHK                          USCHS
1006                           CNSHK                          COCNR
10234                          CNSHK                          CNSHA
10626                          COBUN                          KRPUS
9989                           CNNGB                          USOAK
3648                           CNTAO                          COCNR
16675                          USHOU                          HKHKG
15794                          CNNGB                          CNSHA
13647                          COBUN                          CNSHK

      1st pol country name (Cognos) 1st pol country name (Looker)
12950                        BRAZIL                         CHINA
12023                       ECUADOR                         CHINA
2033                         MEXICO                      COLOMBIA
1402                       COLOMBIA                 UNITED STATES
17494                         CHINA                      COLOMBIA
360                          MEXICO                      COLOMBIA
2072                      HONG KONG                      COLOMBIA
16708                      COLOMBIA                        BRAZIL
2756                      ARGENTINA                 UNITED STATES
5929                       COLOMBIA                          PERU

      last pod location code (Cognos) last pod location code (Looker)
7611                            IDSUB                           GTPRQ
2433                            COBUN                           MXZLO
8963                            COCNR                           COBUN
3079                            MXVER                           COBUN
14678                           GTPRQ                           COBUN
12660                           COCNR                           COBUN
10382                           GTPRQ                           COCNR
2084                            CRCAL                           MXVER
16150                           KRPUS                           COCNR
13479                           COCNR                           COBUN

      last pod country name (Cognos) last pod country name (Looker)
15881                    EL SALVADOR                       COLOMBIA
16149                    PUERTO RICO                       COLOMBIA
2829                       GUATEMALA                         PANAMA
10800                    EL SALVADOR                       COLOMBIA
1693                       GUATEMALA              KOREA REPUBLIC OF
17181                          CHILE                       COLOMBIA
344                         COLOMBIA                         MEXICO
2903                         ECUADOR                         PANAMA
306                         COLOMBIA                         MEXICO
9755                        COLOMBIA                        URUGUAY

      del location code (Cognos) del location code (Looker)
14727                      COCNR                      COBUN
3541                       COCNR                      ARBUE
7560                       PECLL                      GTPRQ
1976                       COBUN                      DEHAM
15992                      COBUN                      COCNR
15122                      COCNR                      COBUN
4195                       GTPRQ                      COCNR
2693                       MXVER                      CLSAI
13118                      COBOG                      COBUN
3424                       DEHAM                      COBUN

      bl number (Cognos) bl number (Looker)
1632        BOGD09380900       RICDFC375500
5752        BOGD10672500       RICDGH456400
5728        SGNDE6254500       RICDHU489600
4043        BOGD10483500       SAOD34586400
17191       GYED14526900         BOG3110233
8466        RICDHA763600       BOGD09553400
3914        SAOD34891300       RICDFZ278500
7205        ZHOD26688400       BOGD09280800
16239       LIMD17629900       RICDCK021300
5789        BOGD10539700       BOGD09922400

      actual invoice number (Cognos) actual invoice number (Looker)
13003                      COT024922                        No_data
11201                      COT025230                        No_data
16824                      COT024819                        No_data
16709                        No_data                      COT024502
9504                         No_data                      CO0130120
16504                        No_data                      COT024929
1017                       COT024594                        No_data
1142                       COT025148                        No_data
12923                      COT024939                        No_data
11202                      COT025132                        No_data

      bound code (Cognos) bound code (Looker)
568                     I                   O
4999                    I                   O
8204                    O                   I
17562                   I                   O
8034                    O                   I
14781                   O                   I
8634                    O                   I
8188                    O                   I
12539                   O                   I
4867                    O                   I

      payment term (Cognos) payment term (Looker)
58                  Collect               Prepaid
329                 Collect               Prepaid
2969                Prepaid               Collect
6704                Collect               Prepaid
16978               Collect               Prepaid
9653                Prepaid               Collect
1996                Collect               Prepaid
16656               Prepaid               Collect
2263                Collect               Prepaid
16851               Collect               Prepaid

      reference number (Cognos) reference number (Looker)
3917              BOGA157076438             BOGA157615429
4515              BOGA156742830             BOGA158055661
10871             BOGA157608954             BOGA157455984
61                BOGA157788880             BOGA157356095
13615             BOGA157928030             BOGA157772495
11444             BOGA158189826             BOGA156486791
5223              BOGA156901233             BOGA157427580
13431             BOGA158209425             BOGA157303552
8012              BOGA156821143             BOGA157365297
11698             BOGA156563015             BOGA157340389

      1st pol etd time (Cognos) 1st pol etd time (Looker)
13473       2023-11-13 20:47:00       2023-10-13 06:00:00
3164        2023-11-13 08:21:00       2023-11-17 14:00:00
12283       2023-10-07 17:38:00       2023-10-17 23:30:00
10572       2023-11-16 00:40:00       2023-10-23 12:00:00
3224        2023-11-03 12:28:00       2023-11-16 18:00:00
17428       2023-11-06 18:41:00                         0
8465        2023-11-13 20:47:00       2023-11-03 17:00:00
13987       2023-11-16 20:55:00       2023-10-12 19:00:00
3286        2023-11-17 23:15:00       2023-11-15 22:00:00
858         2023-11-04 18:35:00       2023-11-25 13:30:00

      s/a time (Cognos) s/a time (Looker)
10864        2023-11-16        2023-11-19
11654        2023-11-17        2023-11-09
9659         2023-11-09        2023-11-16
15750        2023-11-24        2023-11-19
2682         2023-10-14        2023-11-18
3622         2023-11-10        2023-11-16
6582         2023-10-08        2023-11-10
5402         2023-10-31        2023-11-12
16653        2023-11-24        2023-09-06
15440        2023-11-19        2023-11-24

      interface time (Cognos) interface time (Looker)
14485     2023-11-18 04:46:17     2023-11-11 08:11:40
10147     2023-11-03 15:13:45     2023-11-12 05:03:26
16057     2023-11-14 15:25:41     2023-11-15 07:22:47
1336      2023-11-09 17:09:44     2023-11-17 07:35:58
16834     2023-11-10 14:31:36     2023-11-20 08:10:04
11302     2023-11-12 08:11:40     2023-11-13 06:27:08
15747     2023-11-03 07:56:13     2023-11-12 05:18:47
6079      2023-11-06 06:28:45     2023-11-07 16:32:47
1151      2023-11-14 15:47:44     2023-11-22 06:06:18
16176     2023-11-15 17:15:31     2023-11-22 07:39:51

      invoice due time (Cognos) invoice due time (Looker)
3912                 2024-01-30                2023-11-27
7288                 2023-12-02                2023-11-16
6322                 2023-12-04                2023-11-14
6499                 2023-12-04                2023-11-09
15748                2023-11-24                2023-12-24
3508                 2023-12-20                2023-12-01
536                  2023-11-02                2023-12-25
14288                2023-12-18                2023-12-15
5223                 2023-11-17                2023-12-14
16306                2023-12-21                2023-11-06

      aging days (Cognos) aging days (Looker)
14021                  15                  65
800                    62                  45
7966                   23                  49
10219                  46                  21
12492                  32                  26
11775                  31                  46
17015                  20                  53
17080                  39                  41
11411                  50                  16
14320                  30                  41

      charge code (Cognos) charge code (Looker)
8926                   THD                  OBS
9423                   THD                  CSS
10671                  OFT                  DRP
8664                   THD                  ECA
2505                   HEA                  OFT
9984                   THD                  OFT
11375                  OBS                  THD
3587                   THD                  RPC
7507                   AEP                  THD
12795                  CRO                  THD

               charge name (Cognos)          charge name (Looker)
4619             FOOD GRADE PREMIUM  TERMINAL HANDLING CHARGE (D)
7097     CARRIER SECURITY SURCHARGE           BASIC OCEAN FREIGHT
7051   TERMINAL HANDLING CHARGE (D)           BASIC OCEAN FREIGHT
7462           ONE BUNKER SURCHARGE           BASIC OCEAN FREIGHT
8683       CARGO DECLARATION CHARGE                       EIR FEE