In [59]:
import pandas as pd
import numpy as np
import os
from itertools import combinations
import datacompy
folder_path=r'C:\Users\hoa.nd\Desktop\WAP\compare\report_5'

In [60]:
# Hiển thị danh sách column và số lượng column
def get_column_lists_and_counts(df_cognos, df_looker):
    columns_df_cognos = df_cognos.columns.tolist()
    columns_df_looker = df_looker.columns.tolist()
    num_columns_df_cognos = len(columns_df_cognos)
    num_columns_df_looker = len(columns_df_looker)
    print("Columns in df_cognos:", columns_df_cognos)
    print("Number of columns in df_cognos:", num_columns_df_cognos)
    print("Columns in df_looker:", columns_df_looker)
    print("Number of columns in df_looker:", num_columns_df_looker)
    return columns_df_cognos, num_columns_df_cognos, columns_df_looker, num_columns_df_looker

# Định nghĩa hàm để xóa các cột từ DataFrame
def drop_columns(df, columns_to_drop):
    df = df.drop(columns=columns_to_drop)
    return df

# Hàm Đổi các cột có nhãn (Ví dụ: Y -> Yes, N -> No)
def replace_values(df, columns, replacement):
    for column in columns:
        df[column] = df[column].replace(replacement)
    return df

#Định nghĩa hàm xóa dấu phẩy và convert cột sang kiểu Float để so sánh các cột số
def replace_comma_and_convert_to_float(df, column_names):
    for column_name in column_names:
        if column_name in df.columns:  # Kiểm tra xem cột có tồn tại trong DataFrame không
            if df[column_name].dtype == 'object' and df[column_name].str.contains(',').any():
                df[column_name] = df[column_name].str.replace(',', '', regex=True)
            df[column_name] = df[column_name].astype(float)


# Convert sang datetime
def convert_columns_to_datetime(df, columns):
    for column in columns:
        try:
            df[column] = pd.to_datetime(df[column], errors='coerce')
        except (KeyError, ValueError):
            print(f"Column '{column}' does not exist or cannot be converted to datetime.")

# fillna cho các cột chuỗi và số
def fillna_custom(df, string_columns, numeric_columns):
    for col in string_columns:
        if col in df.columns:
            df[col] = df[col].fillna("No_Data")
    for col in numeric_columns:
        if col in df.columns:
            df[col] = df[col].fillna(0)
    return df

#Định nghĩa hàm trả về kiểu dữ liệu các column của DF
def check_and_print_column_data_types(df, name):
    data_types_df = df.dtypes
    print(f"Data types for DataFrame {name}:")
    print(data_types_df)

# KIỂM TRA CÁC COLUMN ĐÃ CHỌN CÓ TẠO RA ĐƯỢC TỔ HỢP KHÓA HAY KHÔNG
def check_columns_combination_uniqueness(df_cognos, df_looker, columns_to_check):
    def combine_columns(df):
        return df[columns_to_check].apply(lambda x: '-'.join(x.astype(str).str.upper()), axis=1)
    df_cognos_combined = combine_columns(df_cognos)
    df_looker_combined = combine_columns(df_looker)
    are_columns_combined_unique = df_cognos_combined.is_unique and df_looker_combined.is_unique
    if are_columns_combined_unique:
        result = True
    else:
        result = False
    return result

#ĐỊNH NGHĨA HÀM ĐỂ CHUYỂN SANG CHỮ IN HOA
def uppercase_columns(df, columns):
    for col in columns:
        if col in df.columns:
            df[col] = df[col].str.upper()
    return df

# ĐỊNH NGHĨA HÀM: TÌM VÀ CẮT DUOID (VD: _cognos, _looker)
def find_and_strip_columns_with_suffix(df, suffix):
    columns_with_suffix = [col for col in df.columns if col.endswith(suffix)]
    stripped_columns = [col.replace(suffix, '') for col in columns_with_suffix]
    return stripped_columns

# ĐỊNH NGHĨA HÀM: TÌM RA SỰ KHÁC BIỆT CỦA 2 DF (MISSING, DIFF) RÒI FILLNA
# Tìm sự khác biẹt
def create_diff_df(df_merged, columns):
    conditions = []
    for column in columns:
        data_cognos = df_merged[f"{column}_cognos"]
        data_looker = df_merged[f"{column}_looker"]
        if data_cognos.dtype== np.float64:
            data_cognos = data_cognos.round(2)
            data_looker = data_looker.round(2)
            condition = np.isclose(data_cognos, data_looker, atol=0.1)
        elif data_cognos.dtype== np.datetime64:
            rounded_cognos = data_cognos.dt.round('S')
            rounded_looker = data_looker.dt.round('S')
            condition = (rounded_cognos == rounded_looker)
        elif data_cognos.dtype== object:
            condition = (data_cognos.str.upper() == data_looker.str.upper())
        else:
            continue
        conditions.append(condition)
    combined_condition = np.all(conditions, axis=0)
    diff_df = df_merged[~combined_condition].copy()
    matching_df = df_merged[combined_condition].copy()
    diff_df = diff_df.applymap(lambda x: 'Not exists' if pd.isnull(x) else x)
    matching_df = matching_df.applymap(lambda x: 'Not exists' if pd.isnull(x) else x)
    return matching_df, diff_df


# LỌC RA PHẦN MISSING HAY DIFF
def filter_and_return_dataframes(df):
    df_missing_cognos = df.loc[df.filter(like='_cognos').eq('Not exists').all(axis=1)]
    df_missing_looker = df.loc[df.filter(like='_looker').eq('Not exists').all(axis=1)]
    df_remaining_diff = df.drop(df_missing_cognos.index).drop(df_missing_looker.index)
    return df_missing_cognos, df_missing_looker, df_remaining_diff.reset_index()

# TÁCH DF CỦA COGNOS VÀ LOOKER
def split_dataframe(df):
    cols_df_cognos = [col for col in df.columns if not col.endswith("_looker")]
    df_cognos_new = df[cols_df_cognos]
    cols_df_looker = [col for col in df.columns if not col.endswith("_cognos")]
    df_looker_new = df[cols_df_looker]
    return df_cognos_new, df_looker_new

# COMPARE VÀ LÊN MÀU CHO SỰ KHÁC BIẸT
def compare_and_style_data(diff_df, keys, suffix_cognos, suffix_looker):
    def highlight_cells(val):
        if val == 'Same':
            return ''
        else:
            return 'background-color: red; color: white;'
    common_prefixes = set(col.split(suffix_cognos)[0] for col in diff_df.columns[2:])
    for prefix in common_prefixes:
        cognos_cols = [col for col in diff_df.columns if col.startswith(f'{prefix}{suffix_cognos}')]
        looker_cols = [col for col in diff_df.columns if col.startswith(f'{prefix}{suffix_looker}')]
        for cognos_col, looker_col in zip(cognos_cols, looker_cols):
            column_name = f'Compare_{prefix}_(Cognos <> Looker)'
            data_type = diff_df[cognos_col].dtype
            if data_type == np.float64:
                diff_df[cognos_col] = diff_df[cognos_col].round(2)
                diff_df[looker_col] = diff_df[looker_col].round(2)
                condition = np.isclose(diff_df[cognos_col], diff_df[looker_col], atol=0.1)
            elif data_type == np.datetime64:
                rounded_cognos = diff_df[cognos_col].dt.round('S')
                rounded_looker = diff_df[looker_col].dt.round('S')
                condition = (rounded_cognos == rounded_looker)
            elif data_type == object:
                condition = (diff_df[cognos_col].str.upper() == diff_df[looker_col].str.upper())
            else:
                continue
            diff_df[column_name] = diff_df.apply(lambda row: f'({row[cognos_col]} <> {row[looker_col]})'
                                                if not condition[row.name]
                                                else 'Same', axis=1)
    selected_keys = keys + [col for col in diff_df.columns if col.startswith('Compare')]
    styled_df = diff_df[selected_keys].style.applymap(highlight_cells, subset=pd.IndexSlice[:, diff_df[selected_keys].columns.str.startswith('Compare_')])
    return styled_df


# ĐỊNH NGHĨA HÀM TÍNH TOÁN
def total_numeric_columns(df_Cognos_cal, df_Looker_cal, columns_to_compare, sales_week_col, start_week=None, end_week=None):
    df_Looker_cal['Source'] = 'Looker'
    df_Cognos_cal['Source'] = 'Cognos'
    combined_data = pd.concat([df_Cognos_cal, df_Looker_cal])
    if start_week and end_week:
        filtered_data = combined_data[(combined_data[sales_week_col] >= start_week) & (combined_data[sales_week_col] <= end_week)]
    else:
        filtered_data = combined_data
    filtered_data[columns_to_compare] = filtered_data[columns_to_compare].round(2)
    result = filtered_data.pivot_table(index=[sales_week_col], columns='Source', values=columns_to_compare, aggfunc='sum')
    for column in columns_to_compare:
        result[f'Compare_{column}_(Cognos <> Looker)'] = result.apply(lambda row: 'Same' if (np.isclose(row[column]['Cognos'], row[column]['Looker'], atol=0.1) == True) else f"{row[column]['Cognos']} <> {row[column]['Looker']}", axis=1)
    result = result.swaplevel(axis=1).sort_index(axis=1, level=[1, 0], ascending=[True, False])
    return result

# ĐỊNH NGHĨA HÀM ĐỂ ĐẶT LẠI TÊN CŨ TRƯỚC KHI XUẤT FILE
# Định nghĩa hàm clean_and_reorder_columns nếu chưa có
def clean_and_reorder_columns(df, suffix_to_remove, new_column_order, new_column_names, output_file):
    df.columns = [col.replace(suffix_to_remove, '') for col in df.columns]
    df = df[new_column_order]
    df.rename(columns=dict(zip(df.columns, new_column_names)), inplace=True)
    df.to_csv(os.path.join(folder_path, output_file), index=False)
    return df

In [61]:

try:
    # Try to load DataFrames from pickle files
    df_cognos = pd.read_pickle('df_cognos.pkl')
    df_looker = pd.read_pickle('df_looker.pkl')
except FileNotFoundError:
    # If pickle files are not found, read Excel files
    df_cognos = pd.read_excel(r'C:\Users\hoa.nd\Desktop\WAP\compare\report_5\Cognos.xlsx', dtype=str)
    df_looker = pd.read_excel(r'C:\Users\hoa.nd\Desktop\WAP\compare\report_5\Looker.xlsx', dtype=str)
    
    # Save DataFrames to pickle files
    df_cognos.to_pickle('df_cognos.pkl')
    df_looker.to_pickle('df_looker.pkl')

In [62]:
print(df_cognos.columns)
print(len(df_cognos.columns))

Index(['X Code Y/N', 'OTS Office RHQ Code', 'Collection Region Name',
       'Collection Office Code', 'Trade Code', 'Trade Name',
       'Service Scope Code', 'Service Scope Name', 'POR Location Code',
       'POR Country Name', 'First POL Location Code', 'First POL Country Name',
       'Last POD Location Code', 'Last POD Country Name', 'DEL Location Code',
       'DEL Country Name', 'BL Number', 'Actual Invoice Number', 'Bound Code',
       'Payment Term', 'Reference Number', 'S/A Date', 'Interface Date',
       'Invoice Due Date', 'Aging Days', 'Transaction Type', 'Charge Code',
       'Charge Name', 'Charge Currency', 'Invoice Amount (Charge Currency)',
       'Outstanding Amount (Charge Currency)', 'Invoice Currency',
       'Invoice Amount (Invoice Currency)',
       'Outstanding Amount (Invoice Currency)', 'Invoice Amount (USD)',
       'Outstanding Amount (USD)'],
      dtype='object')
36

In [63]:
print(df_looker.columns)
print(len(df_looker.columns))

Index(['OTS Office RHQ Code', 'Collection Region Name',
       'Collection Office Code', 'Trade Code', 'Trade Name',
       'Service Scope Code', 'Service Scope Name', 'POR Location Code',
       'POR Country Name', '1st POL Location Code', '1st POL Country Name',
       'Last POD Location Code', 'Last POD Country Name', 'DEL Location Code',
       'DEL Country Name', 'BL Number', 'Actual Invoice Number', 'Bound Code',
       'Payment Term', 'Reference Number', 'S/A Time', 'Interface Time',
       'Invoice Due Time', 'Aging Days', 'Transaction Type', 'Charge Code',
       'Charge Name', 'Charge Currency', 'Invoice Currency', 'X code Y/N',
       'Invoice Amount (Charge Currency)',
       'Outstanding Amount (Charge Currency)',
       'Invoice Amount (Invoice Currency)',
       'Outstanding Amount (Invoice Currency)', 'Invoice Amount (USD)',
       'Outstanding Amount (USD)'],
      dtype='object')
36

In [64]:
COGNOS_TO_LOOKER = {
  'First POL Location Code':'1st POL Location Code',
  'First POL Country Name':'1st POL Country Name',
  'S/A Date':'S/A Time',
  'Interface Date':'Interface Time',
  'Invoice Due Date':'Invoice Due Time'
}
df_cognos.rename(columns=COGNOS_TO_LOOKER, inplace=True)

In [65]:
df_looker['Aging Days'] = df_looker['Aging Days'].str.split().str[0]

df_looker['Interface Time'] = df_looker.apply(lambda row:
    pd.Timestamp(row['Interface Time']).round('S'), axis=1)
df_looker['Interface Time'].fillna(0, inplace=True)

df_cognos['Interface Time'] = df_cognos.apply(lambda row:
    pd.Timestamp(row['Interface Time']).round('S'), axis=1)
df_cognos['Interface Time'].fillna(0, inplace=True)

In [66]:
df_cognos

,X Code Y/N,OTS Office RHQ Code,Collection Region Name,Collection Office Code,Trade Code,Trade Name,Service Scope Code,Service Scope Name,POR Location Code,POR Country Name,...,Charge Code,Charge Name,Charge Currency,Invoice Amount (Charge Currency),Outstanding Amount (Charge Currency),Invoice Currency,Invoice Amount (Invoice Currency),Outstanding Amount (Invoice Currency),Invoice Amount (USD),Outstanding Amount (USD)
0,N,SAOHQ,BRAZIL,SAOBB,LNT,LATIN AMERICA NORTH TRADE,LEA,INTRA EAST COAST SOUTH AMERICA,BRPNG,BRAZIL,...,SLF,SEAL FEE,BRL,-35,-35,BRL,-35,-35,-7.09,-7.09
1,N,SAOHQ,BRAZIL,SAOBB,LET,LATIN AMERICA EAST TRADE,LEE,EAST COAST SOUTH AMERICA - ASIA (EB),BRPNG,BRAZIL,...,SLF,SEAL FEE,BRL,-105,-105,BRL,-105,-105,-21.41,-21.41
2,N,SAOHQ,BRAZIL,SAOBB,LET,LATIN AMERICA EAST TRADE,LEE,EAST COAST SOUTH AMERICA - ASIA (EB),BRPNG,BRAZIL,...,SLF,SEAL FEE,BRL,105,105,BRL,105,105,21.41,21.41
3,N,SAOHQ,BRAZIL,SAOBB,LET,LATIN AMERICA EAST TRADE,LEE,EAST COAST SOUTH AMERICA - ASIA (EB),BRPNG,BRAZIL,...,SLF,SEAL FEE,BRL,-105,-105,BRL,-105,-105,-21.41,-21.41
4,N,SAOHQ,BRAZIL,SAOBB,LNT,LATIN AMERICA NORTH TRADE,LEA,INTRA EAST COAST SOUTH AMERICA,BRSSZ,BRAZIL,...,SLF,SEAL FEE,BRL,35,35,BRL,35,35,7.12,7.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298103,N,SAOHQ,BRAZIL,SAOBB,LET,LATIN AMERICA EAST TRADE,LEE,EAST COAST SOUTH AMERICA - ASIA (EB),BRSSZ,BRAZIL,...,OBS,ONE BUNKER SURCHARGE,USD,-602,-602,BRL,-3001.93,-3001.93,-602,-602
298104,N,SAOHQ,BRAZIL,SAOBB,LET,LATIN AMERICA EAST TRADE,LEE,EAST COAST SOUTH AMERICA - ASIA (EB),BRRIG,BRAZIL,...,OBS,ONE BUNKER SURCHARGE,USD,-326,-326,BRL,-1591.34,-1591.34,-326,-326
298105,N,SAOHQ,BRAZIL,SAOBB,LET,LATIN AMERICA EAST TRADE,LEE,EAST COAST SOUTH AMERICA - ASIA (EB),BRSSZ,BRAZIL,...,OBS,ONE BUNKER SURCHARGE,USD,602,0,BRL,3042.23,0,602,0
298106,N,SAOHQ,BRAZIL,SAOBB,LET,LATIN AMERICA EAST TRADE,LEE,EAST COAST SOUTH AMERICA - ASIA (EB),BRRIG,BRAZIL,...,OBS,ONE BUNKER SURCHARGE,USD,-94.54,-94.54,BRL,-464.29,-464.29,-94.54,-94.54
298107,N,SAOHQ,BRAZIL,SAOBB,LET,LATIN AMERICA EAST TRADE,LEE,EAST COAST SOUTH AMERICA - ASIA (EB),BRRIG,BRAZIL,...,FGP,FOOD GRADE PREMIUM,USD,200,200,BRL,990.08,990.08,200,200

In [67]:
## datacompy
REMOVE_COLUMN = [
  # 'Trade Code',
  # 'Trade Name',
  # 'Service Scope Code',
  # 'Service Scope Name', 
  # 'POR Location Code',
  # 'POR Country Name', 
  # '1st POL Location Code', 
  # '1st POL Country Name',
  # 'Last POD Location Code', 
  # 'Last POD Country Name', 
  # 'DEL Location Code',
  # 'DEL Country Name', 
  # 'BL Number', 
  # 'Actual Invoice Number', 
  # 'Bound Code',
  # 'Payment Term', 
  # 'Reference Number', 
  # 'S/A Time', 
  'Interface Time',
  # 'Invoice Due Time',
  # 'Aging Days',
  # 'Transaction Type',
  # 'Charge Code',
  # 'Charge Name', 
  # 'Charge Currency', 
  # 'Invoice Currency', 
  # 'X code Y/N',
  'Invoice Amount (Charge Currency)',
  'Outstanding Amount (Charge Currency)',
  'Invoice Amount (Invoice Currency)',
  'Outstanding Amount (Invoice Currency)', 
  'Invoice Amount (USD)',
  'Outstanding Amount (USD)'
]

LIST_COLUMN=['OTS Office RHQ Code', 'Collection Region Name',
  'Collection Office Code', 'Trade Code', 'Trade Name',
  'Service Scope Code', 'Service Scope Name', 'POR Location Code',
  'POR Country Name', '1st POL Location Code', '1st POL Country Name',
  'Last POD Location Code', 'Last POD Country Name', 'DEL Location Code',
  'DEL Country Name', 'BL Number', 'Actual Invoice Number', 'Bound Code',
  'Payment Term', 'Reference Number', 'S/A Time', 'Interface Time',
  'Invoice Due Time', 'Aging Days', 'Transaction Type', 'Charge Code',
  'Charge Name', 'Charge Currency', 'Invoice Currency', 'X code Y/N',
  'Invoice Amount (Charge Currency)','Outstanding Amount (Charge Currency)',
  'Invoice Amount (Invoice Currency)','Outstanding Amount (Invoice Currency)', 
  'Invoice Amount (USD)','Outstanding Amount (USD)']

keys_list = [x for x in list(LIST_COLUMN) if x not in REMOVE_COLUMN]

compare = datacompy.Compare( df_cognos, df_looker, join_columns=keys_list, df1_name='Cognos', df2_name='Looker')
# compare = datacompy.Compare( df_cognos, df_looker, on_index=True, df1_name='Cognos', df2_name='Looker')
print(compare.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns    Rows
0    Cognos       36  298108
1    Looker       36  298108

Column Summary
--------------

Number of columns in common: 36
Number of columns in Cognos but not in Looker: 0
Number of columns in Looker but not in Cognos: 0

Row Summary
-----------

Matched on: ots office rhq code, collection region name, collection office code, trade code, trade name, service scope code, service scope name, por location code, por country name, 1st pol location code, 1st pol country name, last pod location code, last pod country name, del location code, del country name, bl number, actual invoice number, bound code, payment term, reference number, s/a time, invoice due time, aging days, transaction type, charge code, charge name, charge currency, invoice currency, x code y/n
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 298,108
Number of rows in Cognos but not in Looker: 0
Number of rows in Looker but not in Cognos: 0

Number of rows with some compared columns unequal: 0
Number of rows with all compared columns equal: 298,108

Column Comparison
-----------------

Number of columns compared with some values unequal: 0
Number of columns compared with all values equal: 36
Total number of values which compare unequal: 0